[user]
	name = Dewdrops
	email = v_v_4474@126.com
[core]
	editor = vim -u ~/.vimrc_tiny
[merge]
	conflictstyle = diff3
[alias]
	st = status -sb
	ca = commit --amend
	ci = commit -a -m
	cs = commit -a -m s
	ac = !git add -A && git commit -m
	co = checkout
    lg = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[http]
	postBuffer = 524288000
[color]
	ui = 1
[help]
	autocorrect = 1
