set surround
set multiple-cursors
set incsearch
set relativenumber
set number

map <Space>r :action RenameElement<cr>
map <Space>R :action InvalidateCaches<cr>
map <Space>f :action GoFmtFileAction<cr>

map <C-N>  <A-N>
map <C-P>  <A-P>
map <C-X>  <A-X>
map g<C-N> g<A-N>

